<!DOCTYPE html>
<body>
  <h1>Contacts for <%= @user.username %></h1>
  <ol>
    <% @contacts.each do |contact| %>
    <li><%= link_to contact.name, user_contact_comments_url(@user, contact) %></li>
    <% end %>
  </ol>

  <h2>Favorite Contacts:</h2>
  <ul>
    <% @favorites.each do |favorite| %>
    <li><%= link_to favorite.name, user_contact_comments_url(@user, favorite)%>
    <% end %>
  </ul>
</body>
</html>